@use '../../styles/main.scss' as main;
//colors
@import '../../styles/base/colors';
//import pour gerer les medias queries
@import '../../styles/media/querie';
.about__container {
  //position: relative;
  //min-height: 100vh;
  //overflow: hidden;
  //margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  //attention au conteneur avec queries
  //on  a le style du composant a gerer aussi
  //le padding a 210 est pour poousse le footer
  //qui est en absolut
  @media (max-width: $breakpoint-xs) {
    padding-bottom: 210px;
  }
  @media (max-width: $breakpoint-sm) {
    padding-bottom: 210px;
  }
  @media (max-width: $breakpoint-md) {
    padding-bottom: 210px;
  }
  @media (max-width: $breakpoint-lg) {
    padding-bottom: 210px;
  }
  @media (max-width: $breakpoint-xl) {
    padding-bottom: 210px;
  }
}
