@use '../../styles/main.scss' as main;
//colors
@import '../../styles/base/colors';
//import pour gerer les medias queries
@import '../../styles/media/querie';

.housing__content {
  margin: 35px auto 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: center;

  .housing__content--info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    h1 {
      font-size: clamp(18px, 4vw, 36px);
      color: $primary-color;
      font-weight: 500;
    }
    h4 {
      font-size: 1.12em;
      font-weight: 600;
    }
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      color: $secondary-color-text;
      margin-top: 12px;
      .tag {
        display: flex;
        justify-content: center;
        align-items: center;
        //attention on peut metre
        //simplement un width en pixels
        //et de le modifier la taille en queries
        //width: 100px;
        min-width: 30px;

        @include main.border-radius-tags;
        background-color: $primary-color;

        height: 20px;
        font-size: 0.9em;
        font-weight: 600;
        text-align: center;
        padding: 5px 35px;
      }
    }
  }
  .housing__content--host {
    display: flex;
    flex-direction: column;

    .host {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      h4 {
        font-size: 1.12em;
        font-weight: 600;
        color: $primary-color;
        width: 50%;
        text-align: right;
        margin-right: 10px;
      }
      img {
        width: 64px;
        height: 64px;
        @include main.border-radius-host-img;
      }
    }
    .rating {
      color: $primary-color;
      display: flex;
      margin: 0 auto;
      font-size: 24px;
      gap: 15px;
      margin-top: 27px;
      .filled-star {
        display: block;
      }
      .empty-star {
        color: $color-empty-star;
      }
    }
  }
  @media (max-width: $breakpoint-xl) {
    //padding-bottom: 210px;
  }
  @media (max-width: $breakpoint-lg) {
  }
  @media (max-width: $breakpoint-md) {
  }
  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    margin: 15px auto 15px auto;
    .housing__content--info {
      gap: 13px;
      margin-bottom: 15px;
      h4 {
        font-size: 0.9em;
      }
      ul {
        margin: 0;
        gap: 10px;
        flex-wrap: nowrap;
        .tag {
          width: 90px;
          min-width: 15px;
          height: 18px;
          font-size: 0.7em;
          padding: 3px 20px;
          @include main.border-radius-tags-sm;
        }
      }
    }
    .housing__content--host {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      .host {
        h4 {
          font-size: 12px;
          line-height: 1.5;
        }
        img {
          width: 35px;
          height: 35px;
        }
      }
      .rating {
        margin: 0;
        font-size: 15px;
        gap: 7px;
      }
    }
  }
  @media (max-width: $breakpoint-xs) {
  }
}

//COMPOSANT COLLAPSE STYLE ADITIONAL
.collapse__container--housing {
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin-bottom: 15px;

  //media
  @media (max-width: $breakpoint-xl) {
  }
  @media (max-width: $breakpoint-lg) {
  }
  @media (max-width: $breakpoint-md) {
  }
  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    gap: 0;
  }
  @media (max-width: $breakpoint-xs) {
  }
}
