//import pour gerer les medias queries
@import '../../styles/media/querie';
//styles general de la  page home
.home__container {
  @media (max-width: $breakpoint-xl) {
    //padding: 0 0 210px 0;
  }
  @media (max-width: $breakpoint-lg) {
    //padding: 0 0 210px 0;
  }
  @media (max-width: $breakpoint-md) {
    //padding: 0 0 210px 0;
  }
  @media (max-width: $breakpoint-sm) {
    //padding: 0 0 210px 0;
  }
  @media (max-width: $breakpoint-xs) {
    //padding: 0 0 210px 0;
  }
}
//PARA PODER VOLVER A LOS AJUSTES DE BASE:
//RESTAURA EL CONTENIDO ANTERIOR DE ESTE FICHERO
//RESTAURA EL MEDIA QUERIES DE MAIN.SCSS QUE ESTA COMENTADO
// BORRA TODO LOS PARAMETROS DE _GLOBAL.SCSS
// Y MANEJA TODOS LOS QUERIES POR PAGINA DEL PROYECTO

/*.home__container {
  position: relative;
  //min-height: 100vh;
  max-width: 1240px;
  margin: 0 auto;
  //padding botton pour pouvoir eloigne le contenu
  //principal du footer a cause de sa position absolut
  padding: 0 90px 210px 90px;
  //display: flex;
  //flex-direction: column;
  //gap: 22px;
  //media queries

  @media (max-width: $breakpoint-xs) {
    padding: 0 0 210px 0;
    &--padding {
      padding: 0 20px;
    }
  }
  @media (max-width: $breakpoint-sm) {
    padding: 0 0 210px 0;
    &--padding {
      padding: 0 20px;
    }
  }
  @media (max-width: $breakpoint-md) {
    padding: 0 0 210px 0;
    &--padding {
      padding: 0 20px;
    }
  }
  @media (max-width: $breakpoint-lg) {
    padding: 0 0 210px 0;
    &--padding {
      padding: 0 20px;
    }
  }
  @media (max-width: $breakpoint-xl) {
    padding: 0 0 210px 0;
    &--padding {
      padding: 0 20px;
    }
  }
}*/
//attention où va le mediaqueries
//a future metrer les queries dans un fichier difierent

/*@media (max-width: $breakpoint-sm) {
    
  }
  @media (max-width: $breakpoint-md) {
    
  }
  @media (max-width: $breakpoint-lg) {
    
  }
  @media (max-width: $breakpoint-xl) {
    
  }*/
