//en scss il fau utyilizer "as main" le nom du fichie pour fair functione l'importation
@use '../../styles/main.scss' as main;
//colors
@import '../../styles/base/colors';
//import pour gerer les medias queries
@import '../../styles/media/querie';

.collapse__container {
  position: relative;
  display: flex;
  flex-direction: column;
  //padding: 0 100px;
  //margin-bottom: 30px;
  width: 83%;
  margin: 3px auto;
  //height: auto;

  .collapse {
    margin-bottom: 30px;
    cursor: pointer;
    h3 {
      background-color: $primary-color;
      font-weight: 700;
      color: $secondary-color-text;
      padding: 15px 15px;
      @include main.border-radius-collapse;
    }
    //aditional border radius dans le composant Housing
    .borderRadiusHousing {
      @include main.border-radius-collapse-housing;
      //pour le h3
      font-size: 1.15em;
      height: 20px;
    }

    //animation de la description
    .expandContainer {
      overflow: hidden;
    }

    .expandContract {
      padding: 20px 20px;
      font-weight: 400;
      font-size: 1.15em;
      line-height: 1.4;
      //border-bottom: 1px solid red;
      //on va jouer içi pour controler la vitesse
      //melanger avec .expandContract.collapsed margin-top: -20%;
      transition: all ease-in-out 0.3s;
    }

    .expandContract.expanded {
      margin-top: 0;
    }

    .expandContract.collapsed {
      margin-top: -100%;
    }
    //animation de la fleche up qui va seulement
    //donner le style a APropo de  base
    .up__arrow {
      position: absolute;
      right: 22px;
      top: 13px;
      font-size: 1.8em;
      color: $secondary-color-text;
      cursor: pointer;
      //animation
      transition: transform 0.3s ease-in-out;
      //transform-origin: center;
    }
    .rotate {
      transform: rotate(-180deg);
    }
  }

  @media (max-width: $breakpoint-xl) {
  }
  @media (max-width: $breakpoint-lg) {
  }
  @media (max-width: $breakpoint-md) {
  }
  @media (max-width: $breakpoint-sm) {
    width: 100%;
    .collapse {
      margin-bottom: 15px;

      //aditional border radius dans le composant Housing
      .borderRadiusHousing {
        @include main.border-radius-collapse;
        //pour le h3
        font-size: 15px;
        height: auto;
      }
      h3 {
        font-size: 15px;

        padding: 10px 10px;
      }
      .expandContract {
        padding: 15px;
        font-weight: 500;
        font-size: 15px;
      }
      .up__arrow {
        font-size: 1.2em;
        right: 15px;
        top: 9px;
      }
    }
  }

  @media (max-width: $breakpoint-xs) {
  }
}
