//color backgrounds
$primary-color: #ff6060;
$background-color: #ffffff;
$bacground-secondary-color: #f6f6f6;
$text-color: #000000;
$background-footer-color: #000000;

//color texts
$primary-color-text: #ff6060;
$secondary-color-text: #ffffff;

//color star
$color-empty-star: #e3e3e3;
